<div class="pcoded-content">
    <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <div class="page-header-title">
                            <h5 class="m-b-10">Dashboard</h5>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item"><a><i class="feather icon-home"></i></a></li>
                            <li class="breadcrumb-item"><a>Dashboard</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-blue order-card">
                    <div class="card-body">
                        <h6 class="text-white">Tiket Terjual</h6>
                        <h2 class="text-right text-white"><i class="feather icon-shopping-cart float-left"></i><span>486</span></h2>
                        <p class="m-b-0">hari ini <span class="float-right">351</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-green order-card">
                    <div class="card-body">
                        <h6 class="text-white">Total booking</h6>
                        <h2 class="text-right text-white"><i class="feather icon-tag float-left"></i><span>1641</span></h2>
                        <p class="m-b-0">hari ini<span class="float-right">213</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-yellow order-card">
                    <div class="card-body">
                        <h6 class="text-white">Pendapatan</h6>
                        <h2 class="text-right text-white"><i class="feather icon-repeat float-left"></i><span>Rp. 42 jt</span></h2>
                        <p class="m-b-0">Bulan ini<span class="float-right">Rp. 5 jt</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xl-3">
                <div class="card bg-c-red order-card">
                    <div class="card-body">
                        <h6 class="text-white">Total User</h6>
                        <h2 class="text-right text-white"><i class="feather icon-award float-left"></i><span>9.562</span></h2>
                        <p class="m-b-0">user baru<span class="float-right">542</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-body text-center">
                        <i class="fas fa-bus text-c-green d-block f-40"></i>
                        <h4 class="m-t-20"><span class="text-c-blgreenue">+40</span> Bus Tersedia</h4>
                        <p class="m-b-20">total 142 bus beroprasi</p>
                    </div>
                </div>
            </div> 
            <div class="col-md-6 col-lg-4">
                <div class="card">
                    <div class="card-header pb-3">
                        <h5>Rute terbaru</h5>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col">
                                <h2 class="m-0"><i class="feather icon-arrow-up text-c-green"></i>4</h2>
                            </div>
                            <div class="col text-right">
                                <h5 class="text-c-green m-0">15%</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-4">
                <div class="card ticket-card">
                    <div class="card-body">
                        <p class="m-b-25 badge-light-primary lbl-card"><i class="fas fa-file-archive m-r-5"></i> Ticket terjual</p>
                        <div class="text-center">
                            <h2 class="m-b-0 d-inline-block text-c-blue">134</h2>
                            <p class="m-b-0 d-inline-block">Tickets</p>
                            <p class="m-b-0 m-t-10"><i class="fas fa-caret-up m-r-10 f-18 text-c-blue"></i>dari bulan sebelumnya</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>